body{
    margin: 0;
    padding: 0;
    background-color: #EFF0F5;
}

/* heading-1 start*/
.header-1{
    background-color: #2F2F61;
}
.header-1 a{
    color: white;
    text-decoration: none;
    padding: 5px;

}
.header-1 i{
    padding: 5px;
}
/* heading-1 end*/

/* heading-2 start*/
.header-2{
    background-color: #F43449;
}

.main1 {
    width: 100%;
    margin: 20px auto;
}
#search-icon1{
    background: #2F2F61;
}

.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle), .input-group>.input-group-append:last-child>.input-group-text:not(:last-child), .input-group>.input-group-append:not(:last-child)>.btn, .input-group>.input-group-append:not(:last-child)>.input-group-text, .input-group>.input-group-prepend>.btn, .input-group>.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background:#2F2F61;
}
.has-search .form-control {
    padding-left: 2.375rem;
}

.title-1{
    color: white;
    font-weight: bold;
    margin: 22px 0px 0px 100px;
}
.title-2{
    color: white;
    font-weight: bold;
    margin: 22px 0px 0px 120px;
}

/* heading-2 end*/

/* navbar start */
 .navbar{
     width: 100%;
 }
/* navbar end */

/* full body start */
.full-body{
    padding: 20px;
}
.box1{
    width: 22%;
    height: 114px;
    background: #E62C8F;
    color: white;
    
}
.box2{
    width: 20%;
    height: 114px;
    background: #1ACD65;
    color: white;
}
.box3{
    width: 25%;
    background: #9C93FC;
    color: white;
}
.box4{
    width: 25%;
    background: #FFBC6B;
    color: white;
}

/* full body end */

/* details start */
.match-box{
    background: #E1E4ED;
}

.live1{
    padding: 0px 5px 0px 5px;
    background: whitesmoke;
    width: 18%;
    border-radius: 10px;
    margin-bottom: 18px;
}
.live2{
    padding: 0px 5px 0px 5px;
    width: 18%;
    border-radius: 10px;
    margin-bottom: 18px;
    background-color: whitesmoke;
    color: black;
}
.cricket{
    background: blue;
    color: white;
}
.cricket a{
    color: white;
}
.cricket .fa-baseball-ball{
    font-size: large;
}
.img-score{
    width: 10%;
}
.eng-bottom{
    padding: 5px;
}
.img-middle{
    width: 15%;
}
.vs{
    background: white;
    padding: 0px 2px 0px 10px ;
    margin-right: 40px;
    border-radius: 5px;
}
.day{
    padding-top: 20px;
}
/* .games{
    position: relative;
}
.box4{
    position: absolute;
    left: -4px;
  
}
.box6{
    position: absolute;
    left: 260px;
} */
.fa-horse{
    color: black;
    padding: 20px;
}
.fa-futbol{
    color: black;
    padding: 20px;
}
.fa-basketball-ball{
    color: black;
    padding: 20px;
}
.fa-stop-circle{
    color: red;
}
.score{
    padding: 20px;
}
.score2{
    background: #F94127;
    color: white;
}

/* feature start */
.feature{
    background: #E7EAF1;
}
.feature-live{
    background: #E7EAF1;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-weight: bold;
}
.feature-live-bg{
    padding-bottom: 22px;
}
/* feature end */

/* shakib start */
.shakib{
    bottom: -6%;
    left: 58%; 
}
.shakib img{
    height: 420px;
}
/* shakib end */

/* other games start */
.other-bg-1{
    background-image: url("img/basketball.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
}
.other-bg-2{
    background-image: url("img/ronaldo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
}
.other-bg-3{
    background-image: url("img/cricket.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
}
/* other games end */

.navbar-nav li{
    padding-right: 35px;
    
}

/* second page start */
.top{
    height: 150px;
}
/* part-1 start */
.part-1{
    background-color: #3163D2;
}
.item-1{
    
}
.item-2{
    margin-top: -30px;
}

/* part-1.2 start */
.card-title-1{
    padding: 10px 2px 5px 10px;
    background-color: #324762;
}
.card-title-1 small{
    color: white;
    font-weight: bold;
}
.card-title-2{
    padding: 10px 2px 5px 10px;
    background-color: white;
}
.card-title-2 small{
    font-weight: bold;
}
.skating{
    position: relative;
}
.skating p{
    font-weight: bold;
    text-align: center;
    position: absolute;
    color: #F44346;
    left: 20px;
    top: 10px;
}
.skating img{
    width: 100%;
    height: 200px;
}
.bg-black{
    background-color: black;
    margin-top: -35px;
}
.title-3{
    font-size: 30px;
    color:#F22667;
}
.part-1-3{
    margin-left: -22px;
}

.link-nav  ul li a{
    font-size: x-small;
    color: gray;
    border-bottom: 1px solid gray;
}
.link-nav  ul li a:hover{
    color: #DC3545;
    font-weight: bold;
    border-bottom: 1px solid #DC3545;
}
/* part-1.2 end */

/* part-1 end */

/* part-2 start */
.part-2{
    background-color: #44448A;
    padding: 10px 10px 10px 10px;
    color: white;
}
.part-2-la{
    left: -15px;
    top: 10px;
    font-size: small;
    color: white;
    padding: 2px;
    background-color: #44448A;
    border-radius: 3px;
}
.part-2-ra{
    bottom: 13px;
    right: 2px;
    font-size: small;
    color: white;
    padding: 2px;
    background-color: #44448A;
    border-radius: 3px;
}
.news{
    /* border-bottom: 1px solid gray; */
    padding: 5px;
}
.news img{
    height: 80px;
    padding: 10px;
    border-radius: 15px;
}
.option{
    border: 1px solid gray;
    padding: 2px;
    border-radius: 5px;
    margin-right: 5px;
}
.option:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
}
.option-logo{
    padding: 7px 3px 7px 1px;
    margin-left: -10px;
    border: 1px solid gray;
    font-size: xx-small;
    border-radius: 20px;
    background: black;
    color: white;
}
/* part-2 end */

/* part-3 start */
.part-3{
    background-color: #EE2F41;
    padding: 10px 10px 10px 10px;
    color: white;
}
.option-part3{
    border: 1px solid gray;
    background-color: white;
    color: black;
    padding: 3px;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 2px;
}

/* part-3 start */

/* second page end */